@import '@fontsource/dm-sans';
@import '@fontsource/dm-sans/700.css';

:root {
    --color-text: #484848;
    --color-sub: #3d3d3d;
    --color-light: #8f8f8f;
    --color-theme: #3863be;
    --color-preview: #2e2e2e;
    --color-preview-dark: #242424;
    --radius: 8px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans';
    margin: 0;
}

h1 {
    color: var(--color-text);
}

h2 {
    color: var(--color-sub);
}

p {
    color: var(--color-light);
    line-height: 1.5em;
}

a {
    color: var(--color-theme);
}

button {
    font-family: inherit;
    font-size: inherit;
}

input {
    font-family: inherit;
    font-size: inherit;
}

textarea {
    font-family: inherit;
    font-size: inherit;
}
