@import '@fontsource/dm-sans';
@import '@fontsource/dm-sans/700.css';

:root {
    --color-text: #484848;
    --color-sub: #3d3d3d;
    --color-light: #8f8f8f;
    --color-theme: #3863be;
    --color-preview: #2e2e2e;
}

body {
    font-family: 'DM Sans';
    margin: 0;
}

h1 {
    color: var(--color-text);
    font-size: 32px;
}

h2 {
    color: var(--color-sub);
    font-size: 20px;
    font-weight: normal;
}

p {
    color: var(--color-light);
    font-size: 16px;
    line-height: 150%;
}

em {
    color: var(--color-sub);
    font-size: 20px;
}

a {
    color: var(--color-theme);
}
